<div class="container">
    <div class="jumbotron">
      <h1>Следи резултатите си от лото игри и залагания</h1>
      	<br>
		<ul class="fa-ul lead">
		  <li><i class="fa-li fa fa-check text-success"></i>List icons (like these)</li>
		  <li><i class="fa-li fa fa-check text-success"></i>can be used</li>
		  <li><i class="fa-li fa fa-check text-success"></i>to replace</li>
		  <li><i class="fa-li fa fa-check text-success"></i>default bullets in lists</li>
		</ul>
		<br>
      <p>
        <%= link_to 'Регистрирай се', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
</div>