<div class="container">
    <div class="jumbotron">
      <h1>Следи резултатите си от лото игри и залагания</h1>
      	<br>
		<ul class="fa-ul lead">
		  <li><i class="fa-li fa fa-check text-success"></i>Отбелязвай печалби и загуби</li>
		  <li><i class="fa-li fa fa-check text-success"></i>Автоматичо пресмятане на резултатите</li>
		  <li><i class="fa-li fa fa-check text-success"></i>Ограничи загубите</li>
		</ul>
		<br>
      <p>
        <%= link_to 'Регистрирай се', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>

</div>