<div class="container">
    <div class="jumbotron">
      <h1>Следи резултатите си</h1>
      <p>Register to get started.</p>
      <p>
        <%= link_to 'Регистрирай се', new_user_registration_path, class: 'btn btn-primary btn-lg' %>
      </p>
    </div>
</div>