<p>Здравейте, <%= @email %>!</p>

<p>За да потвърдите регистрацията си в Лото дневник, кликнете на линка долу:</p>

<p><%= link_to 'Потвърждавам регистрацията', confirmation_url(@resource, confirmation_token: @token) %></p>
