<p>Здравейте, <%= @resource.email %>!</p>

<p>Получихме заявка за промяна на паролата Ви в Лото дневник. За целта използвайте линка долу.</p>

<p><%= link_to 'Промени паролата ми', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Ако не сте правили подобна заявка, моля игнорирайте това съобщение.</p>
<p>Паролата Ви няма да се промени докато не последвате горния линк и изберете нова парола.</p>
